[Unit]
Description=niri-nilastia-shell Quickshell Desktop Environment
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
Environment=QT_SCALE_FACTOR=1
Environment=QSG_RENDER_LOOP=threaded
Environment=QT_SCALE_FACTOR_ROUNDING_POLICY=RoundPreferFloor
Environment=QT_LOGGING_RULES=quickshell.dbus.properties=false;qt.qml.settings.warning=false;qt.core.qsettings.warning=false;kf.xmlgui=false;kf.coreaddons=false;kf.config.core=false;kf.iconthemes=false

ExecStart=@REPO_ROOT@/run_shell.sh
SuccessExitStatus=143
KillMode=mixed
KillSignal=SIGTERM
Restart=on-failure
RestartSec=5
TimeoutStopSec=15
LimitCORE=0
Environment=QS_DISABLE_CRASH_HANDLER=1
IOSchedulingPriority=2

[Install]
WantedBy=niri.service
