[Unit]
Description=niri-nilastia-shell Quickshell Desktop Environment
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
Environment=QT_SCALE_FACTOR=1
Environment=QSG_RENDER_LOOP=threaded
Environment=QT_SCALE_FACTOR_ROUNDING_POLICY=RoundPreferFloor
Environment=QT_LOGGING_RULES=quickshell.dbus.properties=false;qt.qml.settings.warning=false;qt.core.qsettings.warning=false;kf.xmlgui=false;kf.coreaddons=false;kf.config.core=false;kf.iconthemes=false
Environment="INIR_GPU_POLICY=intel"
Environment="WLR_DRM_DEVICES=/dev/dri/card1"
Environment="WLR_RENDER_DRM_DEVICE=/dev/dri/renderD128"
Environment="VK_DRIVER_FILES=/usr/share/vulkan/icd.d/intel_icd.json"
Environment="__EGL_VENDOR_LIBRARY_FILENAMES=/usr/share/glvnd/egl_vendor.d/50_mesa.json"
Environment="__GLX_VENDOR_LIBRARY_NAME=mesa"
Environment="__NV_PRIME_RENDER_OFFLOAD=0"
Environment="__VK_LAYER_NV_optimus=0"
Environment="LIBVA_DRIVER_NAME=iHD"
Environment="VDPAU_DRIVER=va_gl"
Environment="CUDA_VISIBLE_DEVICES="
Environment="NVIDIA_VISIBLE_DEVICES="

ExecStart=@REPO_ROOT@/run_shell.sh
SuccessExitStatus=143
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=5
TimeoutStopSec=15
LimitCORE=0
Environment=QS_DISABLE_CRASH_HANDLER=1
IOSchedulingPriority=2

[Install]
WantedBy=niri.service
